{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


<div>
    <img src="{%static 'AppCoder/images/Agustin.png'%}">
    <h1>Agustin Sánchez</h1>   
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buenos Aires, Argentina</h4>
    <p>Recepcionista con titulo de despachante aduanero.<br>Durante la realización del proyecto trabaje en la realización del login, log out y register.<p>
</div>

<div>
    <img src="{%static 'AppCoder/images/Gabriel.png'%}">
    <h1>Gabriel Salazar</h1>   
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Buenos Aires, Argentina</h4>
    <p>Estudiante Ing. en Informatica<br>Durante la realización del proyecto trabaje en la realización del CRUD.<p>
</div>

<div>
    <img src="{%static 'AppCoder/images/Jessy.png'%}">
    <h1>Jessica Nava</h1>   
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jalisco, México</h4>
    <p>Ing. en Comunicaciones y Electrónica.<br>Durante la realización del proyecto trabaje en la realización del menú about, blog y asignación de avatar.<p>
    </div>
</div>

{% endblock %}