{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div>
    <h1>Perros</h1>
    <h3> Registre a su perro para asentar un turno: </h3>  
</div>
{% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

{% endif %}
    
    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Enviar">

    </form>

{% endblock  %}

